# from obelisk skeleton
result
result-android
result-ios
result-exe
.attr-cache
ghcid-output.txt

dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
.hsenv*
*.*~
*.swp
.DS_Store
backend.pid
backend.out
.shelly
TAGS
tags
*~
*.orig
hsenv.log
\#*#
.#*
node_modules
prebuild
db
*.jsexe
